<div id="index_page_links_div">
  <% if !logged_in? %>
    <p id="register_link" class="index_page_link">register</p>
    <p id="login_link" class="index_page_link">log in</p>
  <% end %>
</div>


<div id="content">
  <div id ="index_page_forms_div">
    <%= render "sessions/login_form" %>
    <%= render "users/form" %>
  </div>
  <div id="pear_div">
    <%= image_tag("pear.png", {:id => "pear_pic"}) %>
  </div>
</div>

<% if @errors %>
  <div id="errors_div">
    <% @errors.each do |error| %>
      <p><%= error %></p>
    <% end %>
  </div>
<% end %>


