/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  background-color: #B5B5B5;
  font-family: 'Montserrat', sans-serif;
  min-width: 635px;
}

#main_div {
  background-color: #00FFFD;
  border-right: 55px solid #FF4600;
}

#index_page_forms_div {
  vertical-align: top;
  display: inline-block;
  padding: 20px 0 0 26px;
}

#content {
  position: relative;
  min-height: 330px;
}

#pear_div {
  display: inline-block;
  float: right;
}

#index_page_links_div {
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 18px;
}

#header_div {
  margin: 0px;
  padding: 0 0 0 5px;
}

h1 {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

#log_out_button, #profile_link {
  float: right;
}
.index_page_link {
  display: inline-block;
  color: #5272D5;
  vertical-align: top;
  margin: 0px;
  padding: 7px;
}

.index_page_link:hover {
  color: #FF4600;
  cursor: pointer;
}

.index_page_link:active {
    color: #5272D5;
}


a {
  text-decoration: none;
}

a:link {
    color: #5272D5;
}

a:visited {
    color: #5272D5;
}


a:hover {
    color: #FF4600;
}


a:active {
    color: #5272D5;
}

p {
  margin: 0px;
}

label {
  display: inline-block;
  width: 125px;
}

#new_user{
  display: none;
}

#login_form{
  display: none;
}


table, th, td {
    border: 1px solid black;
}
th, td {
  padding: 5px;
}


