<!DOCTYPE html>
<html>
  <head>
    <title>PearBoard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main_div">
      <div id="header_div">
        <h1>pear board</h1>
      </div>
        <%= yield %>
    </div>
  </body>
</html>
